@import url(https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playpen+Sans+Thai:wght@100..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playpen+Sans+Thai:wght@100..800&display=swap);
 /* Home */
.container{
    margin: 0 auto;
    max-width: 1320px;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.header-home{
    width: 100%;
    height: 900px;
    background: url(resources/backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width : 430px){
        height: 100vh;
        width: 100vw;
        padding: 1rem 0;
    }
    nav{
        display: flex;
         .container{
             margin: 0 auto;
             max-width: 1320px;
            .nevwrapper{
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                
                .menu{
                    display: flex;
                    list-style: none;
                    font-size : clamp( 10px, 3vw, 20px);

                    li {
                        margin-left: 50px;
                        margin-top: 10px;
                        a {
                            color: antiquewhite;
                            text-decoration: none;
                    }
                        
                    }
                    
                }
            }
        }
    }
    .tea{
        .container{
                align-items: center;
                justify-content: center;
                text-align: center;
                display: flex;
            }
        }
            .teabox{ 
                width: 700px;
                height: 300px;
                background-color: rgb(0, 0, 0, 0.9);
                border-radius: 30px;
                margin: 100px;
                padding: 0;
                align-items: center;
               text-align: center;
               display: flex;
               flex-direction: column;
               justify-content: center;
             h1{
                font-family:K2D ;
                font-size : clamp( 2rem, 10vw, 200px);
                color: aliceblue;
                margin: 0%;
             }
             p{
                font-family:K2D ;
                font-size : clamp( 2rem, 10vw, 50px);
                color: aliceblue;
                margin: 0px;
             }
    }

}
section{
    background-color: rgb(43, 18, 5);
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
     @media screen and (max-width : 768px){
        height: auto;
        padding: 3rem 0;
     }
    .container{
        .aboutwrapper{
            background-color: aliceblue;
            display: flex;
            align-items: center;
            
            .aboutbox{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2000px;
                height: 500px;
                @media screen and (max-width : 768px){
                height: auto;
                width: auto;
                padding: 3rem 0;
                  }
                .video{
                    video{
                        width: 250px;
                        height: 100%;
                    }
                }
                .about{
                    padding: 3rem;
                    font-size : clamp( 1rem, 10vw, 20px);
                    font-family:K2D ;
                    h2{}
                    h4{}
                }
            }
        }
    }
}

 /* category1 */
 .header-category1{
      .Bg{
    height: 150%;
    width: 100vw;
    position: absolute;
    top:0;
    z-index: -1 ;
    background-repeat: no-repeat;
    background: url(resources/backgroudbakery.jpg);
    background-size: cover;
      @media screen and (max-width : 768px){
        height: auto;
        padding: 3rem ;
        }
    
    }
    nav{
        display: flex;
        margin-bottom: 100px;
        .container{
            .nevwrapper{
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                .menu{
                    display: flex;
                    list-style: none;
                    font-size : clamp( 10px, 3vw, 20px);
                    li {
                        margin-left: 50px;
                        margin-top: 20px;
                        a {
                            color: rgb(0, 0, 0);
                            text-decoration: none;
                        }

                    }
                    
                }
            }
        }
    }
      .boxmenu{
     display: flex;
  justify-content: center; 
  align-items: center;             
  margin: 0;   
  margin-bottom: 50px;         
      .boxoutside{
        width:225px;
    height: 115px;
    background-color: rgba(0, 0, 0, 0.959);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
     display: flex;
      margin: 0 ;
        .boxinside{
             width:213px;
             height: 100px;
             background-color: rgb(255, 255, 255);
            border-radius: 30px; 
            display: flex;
             align-items: center;
            justify-content: center;
              text-align: center;

                   h1{
                      color: rgb(0, 0, 0);
                       font-size: 70px;
                      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                     }

                     }
                  }
    
            }
            
}

/* category2 */

 .header-category2{
    .Bg{
    height: 150%;
    width: 100vw;
    position: absolute;
    top:0;
    z-index: -1 ;
    background-repeat: no-repeat;
    background: url(resources/backgroud2.jpg);
    }
    nav{
        display: flex;
        margin-bottom: 100px;
        .container{
            .nevwrapper{
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                .menu{
                    display: flex;
                    list-style: none;
                    font-size : clamp( 10px, 3vw, 20px);
                    li {
                        margin-left: 50px;
                        margin-top: 20px;
                        a {
                            color: antiquewhite;
                            text-decoration: none;
                        }

                    }
                    
                }
            }
        }
    }
    .boxmenu{
            display: flex;
            justify-content: center; 
            align-items: center;             
            margin: 0;   
            margin-bottom: 50px;         
      .boxoutside{
        width:225px;
        height: 115px;
        background-color: rgba(0, 0, 0, 0.959);
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        margin: 0 ;
        .boxinside{
                width:213px;
                height: 100px;
                background-color: rgb(255, 255, 255);  
                border-radius: 30px; 
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                   h1{
                      color: rgb(0, 0, 0);
                       font-size: 70px;
                      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                     }

                     }
                  }
    
            }
            
 }

table.bakery{
    color: rgb(0, 0, 0);
    width: 100%;
    height: 200px;
    position: absolute;
}
table{
    color: aliceblue;
    width: 100%;
    height: 200px;
    position: absolute;
    
}
#th1{
    width: 250px;
    height: auto;
    
}
#th2{
     width: 200px;
      height: auto;
       object-fit: cover;
}
#th3{
     width: 200px;
      height: auto;
}
#th4{
     width: 200px;
      height: auto;
}
#th5{
     width: 200px;
      height: auto;
      object-fit: cover;
}
.tr2{
    text-align: center;
    font-weight: 700;
    font-family:K2D
}
#th6{
    width: 250px;
    height: auto;
    
}
#th7{
     width: 200px;
      height: 200;
       object-fit: cover;
}
#th8{
     width: 200px;
      height: auto;
}
#th9{
     width: 200px;
      height: auto;
}
#th10{
     width: 200px;
      height: auto;
      object-fit: cover;
}
