@import url(https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playpen+Sans+Thai:wght@100..800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playpen+Sans+Thai:wght@100..800&display=swap);

/* .img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    display: block;
    background-size: cover;
} */
 /* .crop img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
      display: block;
 }  */

/* .imgone{
 position: absolute;
    top: 10px;
    left: 30px;
    background-size: cover;
} 
 .imgtwo{
    position: absolute;
    top: 200px;
    left: 230px;
    background-size: cover;
}
.imgthree{
    position: absolute;
    top: 10px;
    right: 30px;
    background-size: cover;
}
.imgfour{
    position: absolute;
    top: 200px;
    right: 230px;
    background-image: cover;
} */
.container{
    margin: 0 auto;
    padding: 0 ;
    max-width: 1320px;
}
header{
    height: 800px;
    background: url(resources/backgroud.jpg);
    background-size: cover;
    @media screen and (max-width : 768px){
        height: auto;
        padding: 3rem 0;
    }
    nav{
        display: flex;
        .container{
            .nevwapper{
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                
                .menu{
                    display: flex;
           
                    list-style: none;
                    font-size : clamp( 10px, 3vw, 20px);

                    li {
                        margin-left: 50px;
                        margin-top: 20px;
                        a {
                            color: antiquewhite;
                            text-decoration: none;
                    }
                        
                    }
                    
                }
            }
        }
    }
    .tea{
        .container{
                align-items: center;
                justify-content: center;
                text-align: center;
                display: flex;
            }
        }
            .teabox{ 
                width: 700px;
                height: 300px;
                background-color: rgb(0, 0, 0, 0.9);
                border-radius: 30px;
                margin: 100px;
                padding: 0;
                align-items: center;
               text-align: center;
               display: flex;
               flex-direction: column;
               justify-content: center;
             h1{
                font-family:K2D ;
                font-size : clamp( 2rem, 10vw, 200px);
                color: aliceblue;
                margin: 0%;
             }
             p{
                font-family:K2D ;
                font-size : clamp( 2rem, 10vw, 50px);
                color: aliceblue;
                margin: 0px;
             }
    }

    }

 /* body{
    margin: 0%;
    padding: 0%;
 }
h2{
 position: absolute;
    font-size: 20pt;
    font-family:K2D ;
    color: aliceblue;
}
h4{
    position: absolute;
    font-size: 15pt;
    font-weight: 500;
    font-family:Playpen Sans Thai;
    color: aliceblue;
}
#cafe{
    width: 400px;
    height: 350px;
     position: absolute;
    top: 530px;
    right: 20px;
}
 video{
   width: 250px;
    height: 350px;
    position: absolute;
    top: 530px;
    right: 450px;
 }

.box{
    width:700px;
    height: 200px;
    background-color: black;
    border-radius: 30px;
    position: absolute;
    top: 530px;
    left: 100px;
    display: flex;             
    flex-direction: column;   
    justify-content: center;   
    align-items: center;   
}
.box h4{
    margin-top: 60px;
    text-align: center;
}
.box h2{
    margin-bottom: 110px;
    
} */
/* .box2{
    width:220px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    position: absolute;
    top: 900px;
    left: 670px;
    display: flex;             
    flex-direction: column;  
    justify-content: center;   
    align-items: center;   
    font-size: 35px;
    font-family:K2D ;
}
.box3{
    width:230px;
    height: 115px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    position: absolute;
    top: 892px;
    left: 665px;

} */
.boxmenu{
     display: flex;
  justify-content: center; 
  align-items: center;             
  margin: 0;   
  margin-bottom: 50px;         
      .boxoutside{
        width:225px;
    height: 115px;
    background-color: rgba(0, 0, 0, 0.959);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
     display: flex;
      margin: 0 ;
        .boxinside{
             width:213px;
             height: 100px;
             background-color: rgb(255, 255, 255);
            border-radius: 30px;
             align-items: center;
            justify-content: center;
              text-align: center;
             display: flex;
                   h1{
                      color: rgb(0, 0, 0);
                       font-size: 70px;
                      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                     }

                     }
                  }
    
            }
table{
    width: 100%;
    height: 200px;
    position: absolute;
    /* top: 1000px;
    padding: 50px; */
}
#th1{
    width: 250px;
    height: auto;
    
}
#th2{
     width: 200px;
      height: 200;
       object-fit: cover;
}
#th3{
     width: 200px;
      height: auto;
}
#th4{
     width: 200px;
      height: auto;
}
#th5{
     width: 200px;
      height: auto;
      object-fit: cover;
}
.tr2{
    text-align: center;
    font-weight: 700;
    font-family:K2D
}
#th6{
    width: 250px;
    height: auto;
    
}
#th7{
     width: 200px;
      height: 200;
       object-fit: cover;
}
#th8{
     width: 200px;
      height: auto;
}
#th9{
     width: 200px;
      height: auto;
}
#th10{
     width: 200px;
      height: auto;
      object-fit: cover;
}
